<h1>Add User Form</h1>

@if (ViewBag.Error != null)
{
    <p>@ViewBag.Error</p>
}

<form method="post" action="/user">
        Username:<br />
        @if (ViewBag.Error == null)
        {
            <input name="username" type="text"  />
        }
        else
        {
            <input name="username" type="text"  value="@ViewBag.Username" />
        } <br />

        E-mail Address:<br />
        @if (ViewBag.Error == null)
        {
            <input name="email" type="email"  />
        }
        else
        {
            <input name="email" type="email"  value="@ViewBag.Email" />
        } <br />

        Password:<br />
        <input name="password" type="password"  /><br />

        Verify Password:<br />
        <input name="verify" type="password"  /><br />

    <input type="submit" value="Submit" class="btn-primary" />
</form>